# YouTube API Key for creator search and profile data
YOUTUBE_API_KEY=
YOUTUBE_KEY=

# Live Cloud Function API URL for YouTube Proxy
VITE_API_URL=https://us-central1-cash-me-out-2.cloudfunctions.net/youtubeApiProxy

# Stripe API Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
APP_URL=
VITE_STRIPE_PUBLISHABLE_KEY=

# Gmail credentials for contact form
GMAIL_USER=
GMAIL_APP_PASSWORD=
